
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>User Register Page</h1>
     <form action="registration" method="post">
         <label for="username">User Name:</label>
        <input type="text" name="userName" placeholder="Enter username" required>
        <br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter password" required>
        <br><br>

        <input type="submit" value="Register">
        <input type="reset" value="Reset">
    </form>
</body>
</html>
